@import "../../../shared/styles/_color.variables";

.album {
  display: flex;
  justify-content: center;

  &-list {
    list-style: none;

    &-item {
      background: $light-green;
      margin: 15px 0;
      border-radius: 5px;

      &:hover {
        background: $green;
      }

      &-link {
        padding: 10px;
        display: block;
        text-transform: uppercase;
        color: $black;

        &:hover {
          color: $black;
        }
      }
    }
  }
}



